.main-body {
    position: relative; /* Ensure relative positioning */
    margin: 200px auto 0;
    margin-left: 350px;
    max-width: 1348px;
    padding: 20px; /* Add padding as needed */
  }

  mat-grid-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Increased padding for visual spacing between cards */
    border: 2px solid #9b9b9b; /* Darker border for better visibility */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    border-radius: 10px; /* Rounded corners for a modern look */
  }

  mat-grid-tile:hover {
    transform: translateY(-3px); /* Slight lift effect on hover */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Deeper shadow on hover for emphasis */
  }

  mat-grid-list {
    width: calc(100% - 10px); /* Adjust width to ensure it fits within parent taking account borders */
    margin: 5px; /* Optional: ensures some space around the grid list if needed */
  }

  .add-widget-button {
    margin-top: 100px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #263238; /* Red color for visibility */
    color: white;
    border-radius: 50%; /* Circle shape */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Shadow for depth */
    z-index: 1000; /* Make sure it's above other elements */
}

.add-widget-button mat-icon {
    width: 24px;
    height: 24px;
}

.edit-mode-toolbar {
  position: absolute;
  top: 140px;
  right: 520px;
  width: 900px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #455A64;
  color: #f1f1f1;
  border-radius: 8px;
  z-index: 990;
}

.reload-btn {
  background-color: #fc9803;
  position: absolute;
  top: 144px;
  right: 1450px;
  height: 40px;
  width: 40px;
  color: #f1f1f1;
  border: none;
  border-radius: 8px;
}

.reload-btn:hover {
  background-color: #f1f1f1;
  color: #fc9803;
}

.reload-btn:active {
  background-color: #f1f1f1;
  color: #fc9803;
}