<app-navbar-user></app-navbar-user>
<button class="reload-btn" (click)="reloadPage($event)">
  <mat-icon>replay</mat-icon>
</button>
<div class="edit-mode-toolbar">
  <p>Acceuil/<strong> Liste des widgets</strong></p>
</div>
<div>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="add-widget-button">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngIf="menuItems.length > 0; else noItems">
      <button mat-menu-item *ngFor="let item of menuItems" (click)="onMenuItemClick(item.id)">
        {{ item.name_fr }}
      </button>
    </ng-container>
    <ng-template #noItems>
      <button mat-menu-item disabled>No options available</button>
    </ng-template>
  </mat-menu>
</div>

<div class="main-body">
  <mat-grid-list cols="3" rowHeight="300px" gutterSize="20px">
    <mat-grid-tile *ngFor="let widgetconfig of widgetconfigs">
      <app-widget-card [widgetconfig]="widgetconfig"></app-widget-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

