<div mat-dialog-title>
    <h1>Edit User</h1>
</div>
<form [formGroup]="EditForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Fullname</mat-label>
                <input matInput type="text" formControlName="fullname">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Role</mat-label>
                <mat-select required  formControlName="roles" [(value)]="selected">
                  <mat-option>None</mat-option>
                  <mat-option value="Admin">Admin</mat-option>
                  <mat-option value="SuperAdmin">SuperAdmin</mat-option>
                </mat-select>
              </mat-form-field>
          
              <mat-form-field  appearance="outline">
                <mat-label>Admin?</mat-label>
                <mat-select required  formControlName="isAdmin">
                  <mat-option>None</mat-option>
                  <mat-option value=true>Yes</mat-option>
                  <mat-option value=false>No</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Created At</mat-label>
                <input matInput [matDatepicker]="createdAtPicker" formControlName="createdAt">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="createdAtPicker"></mat-datepicker-toggle>
                <mat-datepicker #createdAtPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Updated At</mat-label>
                <input matInput [matDatepicker]="updatedAtPicker" formControlName="updatedAt">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="updatedAtPicker"></mat-datepicker-toggle>
                <mat-datepicker #updatedAtPicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button class="save-button" type="submit">Save</button>
    </div>
</form>

