<app-navbar-user></app-navbar-user>

<div class="main-body">
    <form [formGroup]="ConfigForm" (ngSubmit)="saveWidgetConfig()">

        <div class="back-icon" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </div>
        <!-- Basic widget information fields -->
        <div class="form-row1">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Nom en français</mat-label>
                <input matInput formControlName="name_fr">
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Nom en anglais</mat-label>
                <input matInput formControlName="name_eng">
            </mat-form-field>
        </div>

        <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Widget Width</mat-label>
                <input matInput formControlName="wid_width">
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Widget Height</mat-label>
                <input matInput formControlName="wid_height">
            </mat-form-field>
        </div>

        <div formGroupName="wid_style">
            <div class="form-row">
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Background Color</mat-label>
                    <input matInput formControlName="backgroundColor" [ngModel]="backgroundColor" (ngModelChange)="onBackgroundColorChange($event)" readonly>
                </mat-form-field>
        
                <div class="color-picker-icon" (click)="toggleBackgroundColorPanel()">
                   <input matInput [(colorPicker)]="backgroundColor" name="backgroundColor" [style.background]="backgroundColor ? backgroundColor : 'transparent'">
                </div>
            </div>
            <div class="form-row">
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Text Color</mat-label>
                    <input matInput formControlName="textColor" [ngModel]="textColor" (ngModelChange)="onTextColorChange($event)">
                </mat-form-field>

                <div class="color-picker-icon" (click)="toggleTextColorPanel()">
                    <input matInput [(colorPicker)]="textColor" name="textColor" [style.background]="textColor ? textColor : 'transparent'">
                  </div>
            </div>

            <div class="form-row">
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Text Font</mat-label>
                    <mat-select formControlName="textFont">
                        <mat-option value="Arial">Arial</mat-option>
                        <mat-option value="Verdana">Verdana</mat-option>
                        <mat-option value="Helvetica">Helvetica</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Text Size</mat-label>
                    <mat-select formControlName="textSize">
                        <mat-option value="small">Small</mat-option>
                        <mat-option value="medium">Medium</mat-option>
                        <mat-option value="large">Large</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Conditional sections -->
            <div *ngIf="selectedWidgetType === 'Liste'" formArrayName="tableData" class="conditional-section">
                <button mat-button (click)="addColumn($event)">Add Column</button>
                <div *ngFor="let column of tableData.controls; let columnIndex = index" [formGroupName]="columnIndex">
                  <mat-form-field appearance="fill">
                    <mat-label>Column Name</mat-label>
                    <input matInput formControlName="name">
                  </mat-form-field>
                  <button mat-button (click)="addData(columnIndex, $event)">Add Data</button>
                  <div formArrayName="data">
                    <div *ngFor="let dataItem of getColumnData(columnIndex).controls; let dataItemIndex = index">
                      <mat-form-field appearance="fill">
                        <mat-label>Data</mat-label>
                        <input matInput [formControlName]="dataItemIndex">
                      </mat-form-field>
                      <button mat-button color="warn" (click)="removeData(columnIndex, dataItemIndex)">Remove Data</button>
                    </div>
                  </div>
                  <button mat-button color="warn" (click)="removeColumn(columnIndex)">Remove Column</button>
                </div>
            </div>
            

            <div *ngIf="selectedWidgetType === 'Indicateur'" class="conditional-section">
                <mat-form-field appearance="fill">
                    <mat-label>Indicator Percentage</mat-label>
                    <input matInput formControlName="indicatorPercentage">
                </mat-form-field>
            </div>

            <div *ngIf="selectedWidgetType === 'Charte'" formGroupName="chartOptions" class="conditional-section">
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Chart Type</mat-label>
                    <mat-select formControlName="chartType" (selectionChange)="onChartTypeChange($event.value)">
                        <mat-option value="line">Line</mat-option>
                        <mat-option value="area">Area</mat-option>
                        <mat-option value="column">Column</mat-option>
                        <mat-option value="bar">Bar</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Chart Title</mat-label>
                    <input matInput formControlName="title">
                  </mat-form-field>
                
                  <mat-form-field appearance="fill" class="form-field">
                    <mat-label>X-Axis Title</mat-label>
                    <input matInput formControlName="xAxisTitle">
                  </mat-form-field>
                
                  <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Y-Axis Title</mat-label>
                    <input matInput formControlName="yAxisTitle">
                  </mat-form-field>
                
                  <div formArrayName="dataPoints">
                    <div *ngFor="let point of dataPoints.controls; let i = index" [formGroupName]="i">
                        <input matInput placeholder="X Coordinate" formControlName="x">
                        <input matInput placeholder="Y Coordinate" formControlName="y">
                        <button mat-button (click)="removeDataPoint(i)">Remove Point</button>
                    </div>
                    <button mat-button type="button" (click)="addDataPoint($event)">Add Data Point</button>
                </div>
                  
            </div>
        </div>

        <div style="display: flex; justify-content: center;">
            <button mat-raised-button color="primary" type="submit">Save Changes</button>
        </div>
        
    </form>
</div>
