<!-- widget-card.component.html -->
<div class="widget-card">
  <div class="widget-header">
    <h1>{{ widgetconfig.name_fr }}</h1>
  </div>
  <div class="widget-details">
    <p><strong>Widget Type:</strong> {{ dashboardWidget?.[0]?.typewid }}</p>
    <p><strong>Widget Visibility:</strong> {{ dashboardWidget?.[0]?.wid_visi }}</p>
    <p><strong>Color:</strong> {{ widgetconfig.wid_style[0]?.backgroundColor }}</p>
    <p><strong>Width:</strong> {{ widgetconfig.wid_width }}</p>
    <p><strong>Height:</strong> {{ widgetconfig.wid_height }}</p>
    <p><strong>Text Size:</strong> {{ widgetconfig.wid_style[3]?.textSize }}</p>
  </div>
  <div class="widget-actions">
    <button mat-icon-button class="edit-button" (click)="editWidget()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button class="delete-button" (click)="deleteWidget(widgetconfig.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
