.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}


/* Main body styles */
.main-body {
  position: relative; /* Ensure relative positioning */
  margin: 250px auto 0;
  max-width: 1348px;
  padding: 20px; /* Add padding as needed */
}

p {
  text-align: left;
  color: rgb(43, 42, 42);
  padding: 10px; /* Add some padding for spacing */
  border-radius: 10px; /* Rounded corners */
  font-size: 15px;
  margin-top: 2%;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.save-button{
  background-color: #263238 !important;
  color: white !important;
}

.save-button:hover{
  background-color: #5c5b5b !important;
  color: #ffffff !important;
}

.form-field-container {
  display: flex;
  align-items: center;
}

.color-picker-icon {
  margin-left: 10px;
}



.color-picker-icon input {
  border: 2px solid #ccc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}


.mat-color-picker {
  position: absolute;
  z-index: 1000; 
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%; 
}

.charte-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%; 
  width: 100%;
}



.edit-mode-toolbar {
  position: absolute;
  top: 130px; /* Positioned below the edit button */
  right: 530px;
  width: 1000px;
  height : 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #455A64; /* Slightly lighter than button for contrast */
  color: #f1f1f1;
  font-size: 8px;
  border-radius: 8px; /* Rounded corners for the toolbar */
  z-index: 990; /* Slightly below the edit button to create layer effect */
}

.reload-btn{
  background-color: #fc9803;
  position: absolute;
  top: 135px; 
  right: 1550px;
  height : 40px;
  width: 40px;
  color: #f1f1f1;
  border: none;
  border-radius: 8px;
}

.reload-btn:hover{
  background-color: #f1f1f1;
  color: #fc9803;
}
.reload-btn:active{
  background-color: #f1f1f1;
  color: #fc9803;
}

.notifier__container {
  z-index: 9999 !important;
}