<app-navbar></app-navbar>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<button class="reload-btn" (click)="reloadPage($event)"><mat-icon>replay</mat-icon></button>
<div class="edit-mode-toolbar">
  
  <h1>Acceuil/<strong > Liste des organizations</strong></h1>
</div>
<div class="main-body">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let widgetType of ['Fournisseur', 'Acheteur', 'Prestataire']; let i = index" #panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ widgetType }}
        </mat-panel-title>
        <mat-panel-description>
          Configurations pour les widgets de {{ widgetType }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Widgets</mat-label>
        <mat-select [(value)]="selected" required (selectionChange)="onWidgetSelectionChange(getWidgets(widgetType))">
          <mat-option *ngFor="let widget of getWidgets(widgetType)" [value]="widget.id">
            {{ widget.widget_type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="selected" fxLayout="row">
        <div fxFlex="50" fxLayoutAlign="center center">
          <form [formGroup]="ConfigForm" (ngSubmit)="submit()">
            <p>Widget style informations</p>
            <mat-form-field appearance="fill">
              <mat-label>Nom en francais</mat-label>
              <input matInput formControlName="name_fr">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Nom en anglais</mat-label>
              <input matInput formControlName="name_eng">
            </mat-form-field>

            <p>Widget style</p>
            <div class="form-field-container">
              <mat-form-field appearance="fill">
                <mat-label>Background color</mat-label>
                <input matInput formControlName="backgroundColor" (change)="updateWidgetStyle()" [value]="backgroundColor" readonly>
              </mat-form-field>
            
              <div class="color-picker-icon" (click)="toggleBackgroundColorPanel()">
                <input matInput [(colorPicker)]="backgroundColor" name="backgroundColor" [style.background]="backgroundColor ? backgroundColor : 'transparent'">
              </div>
            </div>

            <div class="form-field-container">
              <mat-form-field appearance="fill">
                <mat-label>Text color</mat-label>
                <input matInput formControlName="textColor" (change)="updateWidgetStyle()" [value]="textColor" readonly>
              </mat-form-field>
            
              <div class="color-picker-icon" (click)="toggleTextColorPanel()">
                <input matInput [(colorPicker)]="textColor" name="textColor" [style.background]="textColor ? textColor : 'transparent'">
              </div>
            </div>

            <mat-form-field appearance="fill">
              <mat-label>Text font</mat-label>
              <mat-select formControlName="textFont">
                <mat-option value="Arial">Arial</mat-option>
                <mat-option value="Verdana">Verdana</mat-option>
                <mat-option value="Helvetica">Helvetica</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Text size</mat-label>
              <mat-select formControlName="textSize">
                <mat-option value="small">Small</mat-option>
                <mat-option value="medium">Medium</mat-option>
                <mat-option value="large">Large</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Largeur du widget</mat-label>
              <input matInput formControlName="wid_width" required>
            </mat-form-field>
  
            <mat-form-field appearance="fill">
              <mat-label>Hauteur du widget</mat-label>
              <input matInput formControlName="wid_height">
            </mat-form-field>

            <div class="buttons">
              <button mat-raised-button type="button" (click)="closePanelAndResetSelect(panel)">Cancel</button>
              <button mat-raised-button color="primary" type="submit">Save</button>
            </div>
          </form>
        </div>
        <!-- Dynamic Display Based on Widget Type -->
        <div fxFlex="50" fxLayoutAlign="center center">
          <ng-container *ngIf="selectedWidgetType === 'Liste'">
            <mat-card *ngIf="ConfigForm.get('backgroundColor')"
                      [style.background-color]="ConfigForm.get('backgroundColor')?.value"
                      [style.width]="widgetWidth" [style.height]="widgetHeight">
              <mat-card-header>
                <mat-card-title [ngStyle]="getTextStyles()">List Title</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-list>
                  <mat-list-item [ngStyle]="getTextStyles()">Item 1</mat-list-item>
                  <mat-list-item [ngStyle]="getTextStyles()">Item 2</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item [ngStyle]="getTextStyles()">Item 3</mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </ng-container>
          
          
          <ng-container *ngIf="selectedWidgetType === 'Indicateur'">
            <mat-card *ngIf="ConfigForm.get('backgroundColor')"
                      [style.background-color]="ConfigForm.get('backgroundColor')?.value"
                      [style.width]="widgetWidth" [style.height]="widgetHeight">
              <mat-card-header>
                <mat-card-title [ngStyle]="getTextStyles()">Indicator Title</mat-card-title>
              </mat-card-header>
              <mat-card-content class="spinner-container">
                <mat-spinner></mat-spinner>
                <div [ngStyle]="getTextStyles()">Loading...</div>
              </mat-card-content>
            </mat-card>
          </ng-container>
          
          <ng-container *ngIf="selectedWidgetType === 'Charte'">
            <mat-card *ngIf="ConfigForm.get('backgroundColor')"
                      [style.background-color]="ConfigForm.get('backgroundColor')?.value"
                      [style.width]="widgetWidth" [style.height]="widgetHeight">
              <mat-card-header>
                <mat-card-title [ngStyle]="getTextStyles()">Graphic Chart Title</mat-card-title>
              </mat-card-header>
              <mat-card-content class="charte-container">
                <highcharts-chart
                  [Highcharts]="Highcharts"
                  [constructorType]="chartConstructor"
                  [options]="chartOptions"
                  [callbackFunction]="chartCallback"
                  [(update)]="updateFlag"
                  [oneToOne]="oneToOneFlag"
                  [runOutsideAngular]="runOutsideAngular"
                  style="width: 100%; height: 400px; display: block;">
                </highcharts-chart>
              </mat-card-content>
            </mat-card>
          </ng-container>
          
          
          
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
