.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}


/* Main body styles */
.main-body {
  position: relative; /* Ensure relative positioning */
  margin: 250px auto 0;
  max-width: 1348px;
  padding: 20px; /* Add padding as needed */
}

p {
  text-align: left;
  color: rgb(43, 42, 42);
  padding: 10px; /* Add some padding for spacing */
  border-radius: 10px; /* Rounded corners */
  font-size: 15px;
  margin-top: 2%;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.save-button{
  background-color: #263238 !important;
  color: white !important;
}

.save-button:hover{
  background-color: #5c5b5b !important;
  color: #ffffff !important;
}

.form-field-container {
  display: flex;
  align-items: center;
}

.color-picker-icon {
  margin-left: 10px;
}



.color-picker-icon input {
  border: 2px solid #ccc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}


.mat-color-picker {
  position: absolute;
  z-index: 1000; 
}


