.edit-btn {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main-body{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    max-width: 1348px;
  }
  
  mat-form-field {
    width: 100%;
  }

  .action {
    display: flex;
    gap: 5px;
  }