.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 17%;
    background: linear-gradient(-225deg, #fce495 30%, rgba(244, 245, 201, 0.6) 80%);
    width: 1500px;
    height: 300px;
    border-radius: 30px;
}

.logo-company {
    height: 80px; /* Adjust based on your logo's aspect ratio */
    margin-right: 20px; /* Space between logo and text */
}

.welcome-text {
    text-align: right;
    flex-grow: 1; /* Ensures it takes the necessary space */
    font-size: 30px;
}

.welcome-text h1, .welcome-text p {
    margin: 0; /* Removes default margin */
}

.cta-button {
    background-color: #4CAF50; /* Example button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
