<app-navbar-user></app-navbar-user>

<div class="app-main-container"> 
  <button mat-icon-button (click)="toggleEditMode()" class="edit-widget-button">
    <mat-icon>{{ isEditMode ? 'close' : 'edit' }}</mat-icon>
  </button>

  <!-- Edit Mode Toolbar -->
  <div *ngIf="isEditMode" class="edit-mode-toolbar">
    <button mat-icon-button [matMenuTriggerFor]="widgetMenu" class="add-widget-button">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteSelectedWidgets()" class="delete-widget-button">
      <mat-icon>delete</mat-icon>
    </button>
  
    <mat-menu #widgetMenu="matMenu">
      <button *ngFor="let widget of widgets" mat-menu-item (click)="addWidget(widget.id)">
        {{ widget.nameFr }}
      </button>
    </mat-menu>
  </div>

  <div class="widget-container">
      <!-- Iterate over each createdWidget -->
      <ng-container *ngFor="let widget of createdWidgets">
        <!-- Display based on widgetType -->
        <ng-container *ngIf="widget.widgetDetails?.typewid === 'Liste'">
          <mat-card [style.background-color]="getStyleValue(widget.widStyle, 'backgroundColor')"
                    [style.width]="widget.widWidth" [style.height]="widget.widHeight">
            <mat-card-header>
              <mat-card-title [ngStyle]="getTextStyles(widget.widStyle)">List Title: {{ widget.nameFr }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <mat-list-item [ngStyle]="getTextStyles(widget.widStyle)">Item 1</mat-list-item>
                <mat-list-item [ngStyle]="getTextStyles(widget.widStyle)">Item 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item [ngStyle]="getTextStyles(widget.widStyle)">Item 3</mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </ng-container>
        
        <div *ngIf="widget.widgetDetails?.typewid === 'Indicateur'" [cdkDragFreeDragPosition]="widgetPositions[widget.id]" cdkDrag (cdkDragEnded)="onDragEnded($event, widget)">
          <mat-card [style.background-color]="getStyleValueFromArray(widget.widStyle, 'backgroundColor')"
                    [style.width]="widget.widWidth" [style.height]="widget.widHeight" class="indicator-card">
            <mat-card-header>
              <mat-card-title [ngStyle]="getTextStyles(widget.widStyle)">
                {{ widget.nameFr }}
              </mat-card-title>
              <div *ngIf="isEditMode" class="widget-controls">
                <div class="drag-handle" cdkDragHandle>
                  <mat-checkbox class="widget-checkbox" (change)="toggleWidgetCheck($event.checked, widget.id)"></mat-checkbox>
                  <svg width="24px" fill="currentColor" viewBox="0 0 24 24" style="margin-right: 8px;">
                    <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                  </svg>
                  
                </div>
               
              </div>
            </mat-card-header>
            <mat-card-content>
              <div class="value" [ngStyle]="getTextStyles(widget.widStyle)">
                € {{ widget.widgetDetails?.desc_fr}}
              </div>
              <!-- Example of additional dynamic content -->
              <div class="percentage" [ngStyle]="getTextStyles(widget.widStyle)">
                Variation en pourcentage
                <span [ngClass]="{
                  'positive': getStyleValueFromArray(widget.widStyle, 'indicatorPercentage') > 0,
                  'negative': getStyleValueFromArray(widget.widStyle, 'indicatorPercentage') < 0
                }">
                  {{ getStyleValueFromArray(widget.widStyle, 'indicatorPercentage') > 0 ? '+' : '' }}
                  {{ getStyleValueFromArray(widget.widStyle, 'indicatorPercentage') }}%
                </span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        
        <div *ngIf="widget.widgetDetails?.typewid === 'Charte'" cdkDrag [cdkDragFreeDragPosition]="widgetPositions[widget.id]" (cdkDragEnded)="onDragEnded($event, widget)">
          <mat-card [style.background-color]="getStyleValueFromArray(widget.widStyle, 'backgroundColor')"
                    [style.width]="widget.widWidth" [style.height]="widget.widHeight" class="chart-card">
            <mat-card-header>
              <mat-card-title [ngStyle]="getTextStyles(widget.widStyle)">
                {{ widget.nameFr }}
              </mat-card-title>
              <div *ngIf="isEditMode" class="widget-controls">
                <div class="drag-handle" cdkDragHandle>
                  <mat-checkbox class="widget-checkbox" (change)="toggleWidgetCheck($event.checked, widget.id)"></mat-checkbox>
                  <svg width="24px" fill="currentColor" viewBox="0 0 24 24" style="margin-right: 8px;">
                    <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                  </svg>
                  
                </div>
                
              </div>
            </mat-card-header>
            <mat-card-content class="chart-container">
              <highcharts-chart
                [Highcharts]="Highcharts"
                [constructorType]="'chart'"
                [options]="getChartOptions(widget)"
                [(update)]="updateFlag"
                [oneToOne]="true"
                [runOutsideAngular]="false"
                style="width: 100%; height: 100%; display: block;">
              </highcharts-chart>
            </mat-card-content>
          </mat-card>
        </div>
        
      </ng-container>
  </div>
    
</div>


